:root {
  --primary-color: #6c63ff;
  --secondary-color: #272142;
  --tertiary-color: #f0fbff;
  --heading-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
}
body {
  font-family: var(--content-font);
}
h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  font-weight: bold;
  line-height: 110px;
  margin-bottom: 25px;
}
h2 {
  font-size: 64px;
  color: var(--secondary-color);
}
p {
  font-size: 16px;
  line-height: 30px;
}
.top-section {
  text-align: center;
  padding: 160px 20px;
  background: var(--tertiary-color);
}

.top-section h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  font-family: var(--content-font);
  color: var(--secondary-color);
}

.top-section p {
  font-family: var(--content-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}
.btn-contact {
  background: var(--primary-color);
  color: white;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 27px;
}
.btn-contact:hover {
  background: var(--primary-color);
  color: black;
}
.weather-app-image {
  display: block;
  margin: 20px auto;
}

.btn-branding-outline {
  border: 1px solid var(--primary-color);
  padding: 20px 40px;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
}
.btn-branding-outline:hover {
  border: 1px solid var(--primary-color);
  color: black;
}

.coding-icons {
  margin: 10px;
  font-size: 25px;
}

.project-paragraph {
  opacity: 70%;
}

.project-content {
  margin: 20px 10px 20px 30px;
}
.passion-project-image {
  margin: 20px 0px auto 20px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 46px;

  }
  h2 {
    font-size: 38px;
    text-align: center;
  }
  .top-section {
    padding: 80px 20px 60px 20px;
  }
  .top-section h2 {
    font-size: 18px;
    line-height: 24px;
  }

  .top-section p {
    font-size: 22px;
  }
  .intro-text {
    margin: 0 10px
  }
  .project-content {
    text-align: center;
  }
 
}
