:root {
  --primary-color: #6c63ff;
  --secondary-color: #272142;
  --tertiary-color: #f0fbff;
  --heading-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
}
body {
  font-family: var(--content-font);
}
h1,
h2,
h3,
h4, 
footer,
.btn-contact:hover,
.btn-branding-outline:hover {
  color: #000000;
}
h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  font-weight: bold;
  line-height: 110px;
  margin-bottom: 25px;
}
h2 {
  font-size: 64px;
  font-family: var(--heading-font);
}
h3 {
  font-size: 48px;
  font-family: var(--heading-font);
}
p {
  font-size: 16px;
  line-height: 30px;
}
footer {
  font-size: 12px;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
}

.navigation-bar ul {
  padding: 0;
  margin: 0;
}
.navigation-bar li {
  display: inline;
  text-decoration: none;
  line-height: 75px;
  margin-left: 20px;
}
.navigation-bar a {
  text-decoration: none;
  color: var(--content-font);
}
.navigation-bar a:hover,
.navigation-bar .active {
  color: var(--primary-color);
}

.navigation-background {
  background: #dcf6ff;
  padding: 0px;
}

.top-section-content {
  text-align: center;
  padding: 100px 20px;
  background: var(--tertiary-color);
}

.top-section-content h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  font-family: var(--content-font);
  color: var(--secondary-color);
}

.top-section-content p {
  font-family: var(--content-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}
.btn-contact {
  background: var(--primary-color);
  color: white;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 27px;
}
.btn-contact:hover {
  background: var(--primary-color);
}
.weather-app-image {
  display: block;
  margin: 20px auto;
}

.btn-branding-outline {
  border: 1px solid var(--primary-color);
  padding: 20px 40px;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
}
.btn-branding-outline:hover {
  border: 1px solid var(--primary-color);
}

.coding-icons {
  margin: 10px;
  font-size: 25px;
}

.project-paragraph {
  opacity: 70%;
}

.project-content {
  margin: 20px 10px 20px 30px;
}
.passion-project-image {
  margin: 20px 0px auto 20px;
  max-width: 100%;
  height: auto;
}
.work-enquiry {
  background: #dcf6ff;
  padding: 30px 0px;
}
.lets-talk-button {
  margin: 0px 150px;
}

.page-content {
  padding: 160px 20px;
}
.page-content h1 {
  font-size: 64px;
  line-height: 90px;
}
.page-content h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--content-font);
  margin-bottom: 20px;
}
.page-content p {
  margin-bottom: 40px;
}
.page-content img {
  border-radius: 10px;
  display: block;
  margin: auto;
}
.page-content h4 {
  font-weight: bold;
}
.hobbie-project {
  margin-top: 120px;
}

@media (max-width: 900px) {
  .top-section-content h1, .page-content h1 {
    font-size: 44px;
    line-height: 46px;
  }
  h2 {
    font-size: 38px;
    text-align: center;
  }
  .top-section-content {
    padding: 80px 20px 60px 20px;
  }
  .top-section-content h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .page-content h3 {
    font-size: 30px;
  }
  .top-section-content p {
    font-size: 22px;
  }

  .intro-text {
    margin: 0 10px;
  }
  .project-content {
    text-align: center;
  }
  .page-content {
    padding: 40px 20px;
    text-align: center;
  }
  .see-work {
    display: block;
    margin: auto 90px 30px 90px;
  }
  .hobbie-project {
  margin-top: 40px;
}
.navigation-bar ul {
  display: block;
  margin:auto
}
 
}
